{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{ exam_id }}">
    <h3>

        {% if has_time_expired %}
            {% blocktrans %}
                เวลาที่กำหนดสำหรับการสอบนี้หมดลงแล้ว. ข้อสอบของคุณได้ถูกส่งเรียบร้อยและจะถูกให้คะแนนตามข้อสอบที่ทำเสร็จสมบูรณ์
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}
                คุณได้ส่งข้อสอบเรียบร้อยแล้ว.
            {% endblocktrans %}
        {% endif %}

    </h3>
    <hr>

    {% if will_be_revealed %}
        <p>
            {% blocktrans %}
                หลังจากเลยเวลาที่กำหนดแล้วคุณสามารถตรวจดูข้อสอบแต่เปลี่ยนคำตอบไม่ได้แล้ว.
            {% endblocktrans %}
        </p>

        {% if wait_deadline %}
            {% include 'common/waiting_banner.html' %}
        {% endif %}

    {% endif %}
</div>

